<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Carpool</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="https://media.discordapp.net/attachments/741244174736556076/898501079019450438/unknown.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="description" content="SUBMISSION FOR SILICO BATTLES BY AISG46">
</head>

<body>
    <h2>Request a Carpool</h2>
    <form action="/carpool/create" method="POST">
        <input name="date" id="date" required placeholder="Date of Carpool"> <br><br>
        <input name="nopeople" id="date" required> <br><br>
        <input name="description" id="description"> <br><br>
        <input name="origin" id="origin" required> <br><br>
        <input name="destination" id="destination" required> <br><br>
        <label for="regular">Regular Carpool</label>
        <input type="checkbox" name="regular" id="regular"> <br><br>
        <button type="submit">Submit</button>
    </form>
</body>


</html>