<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
    <link rel="icon" href="https://media.discordapp.net/attachments/741244174736556076/898501079019450438/unknown.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="description" content="SUBMISSION FOR SILICO BATTLES BY AISG46">
</head>
<body>
    <a id="button"></a>

    <div class="nav">
        <img src="https://media.discordapp.net/attachments/741244174736556076/898501079019450438/unknown.png" alt="logo-pic">
        <ul class="n-1">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#ins">Steps</a>
            </li>
            <li>
                <a href="#rev">Reviews</a>
            </li>
        </ul>
    </div>
    <div class="landing-div">
        <div class="title-desc">
            <h1>
                Meet your new  <br>
                transport app
            </h1>
            <p>
                Caring for environment and connecting people <br>
                when they are outside.
            </p>
            <div class="link">
                <a href="/register" class="reg">Register</a>
                <a href="/login" class="log">Login</a>
            </div>
        </div>
        <img src="https://media.discordapp.net/attachments/741244174736556076/898244878633406474/unknown.png?width=583&height=513" alt="landing-pic">
    </div>
    <div class="about-sec">
        <h1 id="about">About Us</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum praesentium <br>
            consequuntur sint suscipit, ea labore, cumque aliquid repellendus voluptas <br>
            maxime modi eligendi neque in ipsum perferendis veniam, similique veritatis <br>
            magni!
        </p>
        <img src="https://media.discordapp.net/attachments/741244174736556076/898267637967093780/unknown.png" alt="l-pic">
        <h2>
            Don't waste gasoline. <br>
            Share your car. 
        </h2>
        
    </div>
    <div class="inst-sec" id="ins">
        <h1>How it works ?</h1>
        <div class="step-i">
            <div class="step-1">
                <div class="step">
                    <span class="material-icons s-1">
                        radio_button_unchecked
                    </span>
                </div>
                <h3>Step 1</h3>
                <p>
                    Some protocol.
                </p>
            </div>
            <div class="step-2">
                <div class="step">
                    <span class="material-icons s-2-1">
                        radio_button_unchecked
                    </span>
                    <span class="material-icons s-2-2">
                        radio_button_unchecked
                    </span>
                </div>
                <h3>Step 2</h3>
                <p>
                    Some protocol.
                </p>
            </div>
            <div class="step-3">
                <div class="step">
                    <span class="material-icons s-3-1">
                        radio_button_unchecked
                    </span>
                    <span class="material-icons s-3-2">
                        radio_button_unchecked
                    </span>
                    <span class="material-icons s-3-3">
                        radio_button_unchecked
                    </span>
                </div>
                <h3>Step 3</h3>
                <p>
                    Some protocol.
                </p>
            </div>
            <div class="step-4">
                <div class="step">
                    <span class="material-icons s-4-1">
                        radio_button_unchecked
                    </span>
                    <span class="material-icons s-4-2">
                        radio_button_unchecked
                    </span>
                    <span class="material-icons s-4-3">
                        radio_button_unchecked
                    </span>
                    <span class="material-icons s-4-4">
                        radio_button_unchecked
                    </span>
                </div>
                <h3>Step 4</h3>
                <p>
                    Some protocol.
                </p>
            </div>
        </div>
    </div>
    <div class="user-sec" id="rev">
        <h4>Our Customers</h4>
        <h1>
            Check out what <br>
            our users have to say
        </h1>
        <img src="https://media.discordapp.net/attachments/741244174736556076/898476656837140500/unknown.png?width=516&height=513" alt="user-pic">
        <div class="user-reviews">
            <h2>
                Awesome Job
            </h2>
            <div class="line-user"></div>
            <h3>User</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing <br>
                elit. Nam quis sed recusandae, alias facere sapiente <br>
                iusto modi eaque officia nobis obcaecati minima! <br>
                <br><br>
                Dolorem illum nisi hic. Amet odit facilis a.
            </p>
        </div>
        <div class="user-desc">
            <div class="user-1"></div>
            <div class="user-2"></div>
            <div class="user-3"></div>
            <div class="user-4"></div>
        </div>
    </div>
    <div class="banner"></div>
    <div class="footer">
        <div class="circle"></div>
        <p>
            Lorem ipsum dolor sit amet <br>
            consectetur adipisicing elit.
        </p>
        <ul class="foot-nav">
            <li>About</li>
            <li>Instructions</li>
            <li>Reviews</li>
        </ul>
        <ul class="social">
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fas fa-envelope"></i></li>
        </ul>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/app.js"></script>
</html>