<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/cs/styles.css">

</head>
<body>
    <div class="nav">
        <img src="" alt="logo-pic">
        <ul>
            <li>About</li>
            <li>Instructions</li>
            <li>Reviews</li>
        </ul>
        <ul>
            <li>
                <a href="/register">Register</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
    <div class="landing-div">
        <div class="title-desc">
            <h1>
                Meet your new  <br>
                transport app
            </h1>
            <p>
                Caring for environment and connecting people <br>
                when they are outside.
            </p>
            <div class="checkout">
                Check Out
            </div>
        </div>
        <img src="https://media.discordapp.net/attachments/741244174736556076/898244878633406474/unknown.png?width=583&height=513" alt="landing-pic">
    </div>
</body>

<script src="/js/app.js"></script>
</html>